{
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
}
/* Your code starts here! */

body{
	font-family: "Titillium", sans-serif;
	padding: 0 200px;
	margin-top: 0px;
}

/* Header Styles */
nav {
	text-align: center;
	margin: 0 2%;
	position: sticky;
	top: 0;
	background-color: gray;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

nav a {
	text-decoration: none;
	color: lightgray;
	margin: 0 5%;
}

nav a:hover {
	color: black;
}

h1 {
	font-family: "Bangers", sans-serif;
	font-size: 72px;
	display: inline-block;	
	padding: 0 15% 0 0;
	margin: 1%;
	letter-spacing: 2.8px;
}

button {
	display: block;
	background-color: transparent;
	border: 1px solid black;
	margin: 7% auto; 
	width: 150px;
	height: 33px;
	font-size: 16px;
	letter-spacing: 1px;
	box-shadow: 0 9px lightgray;
}

button:hover {
	background-color: lightblue;
}

button:active {
	box-shadow: 0 5px gray;
	transform: translateY(4px);
}

h2 {
	font-family: "Bangers", sans-serif;
	display: inline-block;
	margin: 10% 0 0 0;
}

header {
	text-align: center; 
	margin: 5% 0%;
}

/* Main Content */

p {
	letter-spacing: 1px;
}

.box {
	display: inline-block;
	width: 47%;
	margin:  1%;
	
}

.topContent {
	margin: 0 10% 0 10%;
	border-top: 1px solid black;
	width: 80%;
	padding: 0 0 25px;
}

.middle-img {
	display: block;
	margin: 0 10.8%;
	width: 75%;
}

.bottomContent {
	margin: 0 10%;
	width: 80%;
	border-bottom: 1px solid black;
	padding: 0 0 30px;
}

.bottomContent div {
	width: 29%;
}

.contact {
	margin: 3% 10%;
}

h3 {
	font-family: "Bangers", sans-serif;
}

/* Footer Styles */
footer {
	text-align: center;
	margin: 5% 0 10%;
}
